global:
  resolve_timeout: 5m

route:
  receiver: "discord"
  group_by: ["alertname", "severity"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  routes:
    - receiver: "discord"
      match:
        severity: critical
      group_wait: 10s
      repeat_interval: 1h

receivers:
  - name: "discord"
    discord_configs:
      - webhook_url: "DISCORD_WEBHOOK_URL_PLACEHOLDER"
        title: '{{ template "discord.default.title" . }}'
        message: '{{ template "discord.default.message" . }}'

templates:
  - /etc/alertmanager/templates/*.tmpl
