name: Deploy to VPS

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # 1. Checkout Code
      - uses: actions/checkout@v6.0.2
      
      # 2. Login ke Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Build & Push Image
      - name: Build and push
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/cohort-dashboard:latest

      # 4. SSH ke VPS untuk update container
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.VPS_PASSWORD }}
          port: 22
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/cohort-dashboard:latest
            docker stop cohort-dashboard || true
            docker rm cohort-dashboard || true
            docker run -d \
              --name cohort-dashboard \
              -p ${{ secrets.HOST_PORT }}:80 \
              --restart unless-stopped \
              ${{ secrets.DOCKER_USERNAME }}/cohort-dashboard:latest
